<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Pregunta 2</title>
	</head>
	<style>
		h1{font-family: Cambria;}
		p{font-size: 14pt; background-color: aliceblue; text-align: justify;}
		
	</style>
	<body>
		<h1>¿Qué es spring?</h1>
		<p>
			Spring es un marco de trabajo ampliamente utilizado en el desarrollo de aplicaciones empresariales en Java debido a su capacidad para simplificar la creación de aplicaciones robustas, escalables y mantenibles, así como su capacidad de integración con otras tecnologías y marcos de trabajo.
		</p>
		<h1>¿Para qué sirve?</h1>
		<p>
			 Spring es ampliamente utilizado en el desarrollo de aplicaciones empresariales y web en Java debido a su capacidad para simplificar la creación de aplicaciones robustas, escalables y mantenibles, así como su facilidad para integrarse con diversas tecnologías. Spring ofrece una amplia gama de herramientas y soluciones que hacen que el desarrollo de software sea más eficiente y efectivo
		</p>
	</body>
</html>